.drop {
  animation: dropDown ease-in-out 700ms;
}

.reveal {
  animation: reveal ease-in-out 500ms;
}

@keyframes dropDown {
  0%{
    transform: translateY(-100px)
  }
  70%{
    transform: translateY(10px)
  }
  100%{
    transform: translateY(0)
  }
}

@keyframes reveal {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}