.button {
  font-family: var(--default-font);
  font-weight: 700;
  font-size: 0.85rem;
  color: var(--white);

  background: var(--brand-color);

  padding: .5rem 2rem;
  border-radius: 10px;

  transition: 200ms;
}

.button:hover {
  background: var(--brand-color-light);
}