.button {
  font-family: var(--default-font);
  font-weight: 700;
  color: var(--white);

  background: var(--brand-color);

  padding: .5rem 2rem;
  border-radius: 10px;
}

.button:hover {
  background: var(--brand-color-light);
}