:root {
  --brand-color: #706fe5;
  --brand-color-light: #8887e5;
  --brand-color-dark: #2f2e6c;
  --contrast-color1: #2f2e6c;
  --contrast-color2: #ffffff;
  --white: #ffffff;
  --gray: #eaeafb;

  --default-font: 'Poppins', sans-serif;

  --align-center: center;
  --align-start: start;
}

html {  
  scroll-behavior: smooth;
}

body {
  background: var(--contrast-color2);  
  font-family: var(--default-font);
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: var(--gray);
}

body::-webkit-scrollbar-thumb {
  background: var(--brand-color);
  border-radius: 20px;
  border: 3px solid var(--gray);
}

::selection {
  background-color: var(--brand-color);
  color: var(--white);
}