.title {
  color: var(--contrast-color1);
  font-weight: 800;
}

.title.h1 {
  font-size: clamp(2rem, 1.286rem + 1.905vw, 3rem);
}

.title.h2 {
  font-size: clamp(1.5rem, 0.929rem + 1.524vw, 2.3rem);
}

.title.h3 {
  font-size: clamp(1.2rem, 1.129rem + 0.19vw, 1.3rem);
}

.paragraph {
  color: var(--contrast-color1);
  font-weight: 400;
  font-size: clamp(1rem, 0.857rem + 0.381vw, 1.2rem);
  transition: 200ms;
}

a:link {
  color: var(--brand-color);  
  transition: 200ms;
}

a:hover,
a:active,
a:visited {
  color: var(--brand-color-light);
}

.white {
  color: var(--white);
}

.text-align {
  text-align: var(--align-center);
}

@media (min-width: 500px) {
  .text-align {
    text-align: var(--align-start);
  }
}