.title {
  color: var(--contrast-color1);
  font-weight: 800;
}

.title.h1 {
  font-size: 3rem;
}

.title.h2 {
  font-size: 2.5rem;
}

.title.h3 {
  font-size: 1.5rem;
}

.paragraph {
  color: var(--contrast-color1);
  font-weight: 400;
  font-size: 1rem;
}

a:link {
  color: var(--brand-color);
}

a:hover,
a:active,
a:visited {
  color: var(--brand-color-light);
}

.white {
  color: var(--white);
}