.item {
  border: 2px dotted var(--brand-color-light);
  border-radius: 30px;
  padding: 1.5rem;
}

.item img {
  border-radius: 10%;
}

@media (min-width: 800px) {
  .item img {
    transition: 200ms;
    filter: opacity(0.8);
  }
  
  .item img:hover {
    transform: scale(1.02);
    filter: opacity(1);
  }
}