.text {
  padding: 1.5rem 0;
}

.list {
  display: grid;
  grid-template-columns: 1;
  gap: 2rem;
  text-align: justify;
}

@media (min-width: 630px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
    text-align: start;
  }
}