.item {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  flex-grow: 1;
}

.item img {
  width: 100px;
}

.item p {
  text-align: center;
  max-width: 320px;
}

@media (min-width: 750px) {
  .item {
    align-items: start;
    gap: 0.2rem;
  }

  .item p {
    font-size: 0.95rem;
    text-align: start;
  }

  .item img {
    width: 65px;
  }
}